html {
    background: #e3e3e3;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

#form {
    border-top: 1px dotted #ccc;
}

label {
    line-height: 1.4em;
}

h2 {
    font-size: 2.5em;
    margin: 0;
}

table {
    margin: 50px;
    color: #242424;
}

.navi {
    background: blue;
    position: sticky;
    top: 0;
}

footer {
    background: #555;
}

header {
    background: #222;
}

section {
    background: #ccc;
    display: flex;
}

article {
    background: #999;
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(1) {
    flex: 800px;
}

article:nth-of-type(2) {
    flex: 800px;
}

.img-container {
    background: pink;
    height: 350px;
    width: 200px;
    float: right;
}